@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
body{
    background-color: #1b1919;
    color: white;
    
}
.b2{
    color: white;
    background-color: black;
    border-radius: 30px;
    font-style: oblique;
    width: 260px;
    height: 50px;
}
.b1{
    border-radius: 20px;
    width: 150px;
}
.imgp{ border-radius: 260px;}
.im1{
    border-radius: 190px;
}
.im2{
    border-radius: 390px;
}
.hd{
    border-radius: 250px;
}
.container{
    align-content: center;
}